.space-before {
    margin-left: 0.5em;
}

.legend {
    height: 100%;
    margin: 0 0.5em;
}

.legend .mdc-list {
    padding: 0;
}

.legend .mdc-list-item.mdc-list-item--with-one-line {
    height: auto;
    text-align: justify;
}

.content {
    height: 100%;
    margin: 0.5em;
    font-size: large;
    white-space: pre-wrap;
}
