<mat-drawer-container autosize>
    <mat-drawer mode="side" opened="true" position="end" class="legend">
        <mat-list>
            <mat-list-item *ngFor="let ent of this.ents">{{ent.text}} - <span
                    [ngClass]="ent.label">{{ent.label}}</span></mat-list-item>
        </mat-list>
    </mat-drawer>
    <div class="content">
        <span *ngFor="let token of entTokens" [ngClass]="{
                'space-before': token.space_before,
                'date' : token.ent_type_=='date',
                'time' : token.ent_type_=='time',
                'geogName' : token.ent_type_=='geogName',
                'placeName' : token.ent_type_=='placeName',
                'persName' : token.ent_type_=='persName',
                'orgName' : token.ent_type_=='orgName'}">{{token.text}} </span>
    </div>
</mat-drawer-container>