<mat-tab-group *ngIf="this.guid" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Części mowy">
        <app-spacy-token [tokens]="tokens"></app-spacy-token>
    </mat-tab>
    <mat-tab label="Encje">
        <app-ents *ngIf="this.guid" [tokens]="tokens" guid="{{this.guid}}"></app-ents>
    </mat-tab>
    <mat-tab label="Zależności w zdaniach">
        <div *ngFor="let item of [].constructor(this.sentsSize); let i = index">
            <mat-divider></mat-divider>
            <img *ngIf="this.guid" src="{{getSentsDisplayUrl(i)}}" style="width: 100%;" />
        </div>
    </mat-tab>
    <mat-tab label="Podstawowy JSON">
        <pre>{{ this.tokens | json}}</pre>
    </mat-tab>
</mat-tab-group>
<div class="actions-row">
    <button mat-raised-button color="primary" (click)="backClicked()">Wróć</button>
</div>