<mat-drawer-container autosize>
    <mat-drawer mode="side" opened="true" position="end" class="legend">
        <mat-list>
            <mat-list-item matTooltip="kto? co?"><span class="propn">PROPN</span> - rzeczownik właściwy</mat-list-item>
            <mat-list-item matTooltip="kto? co?"><span class="noun">NOUN</span> - rzeczownik</mat-list-item>
            <mat-list-item matTooltip="co robi? co się z nim dzieje?"><span class="verb">VERB</span> -
                czasownik</mat-list-item>
            <mat-list-item matTooltip="jaki? jaka? jakie? czyj? czyja? czyje? który? która? które?"><span
                    class="adj">ADJ</span> - przymiotnik</mat-list-item>
            <mat-list-item matTooltip="jak? gdzie? kiedy?"><span class="adv">ADV</span> - przysłówek</mat-list-item>
            <mat-list-item matTooltip="zastępuje inne wyrazy"><span class="pron">PRON</span> - zaimek</mat-list-item>
            <mat-list-item matTooltip="łączy się najczęściej z rzeczownikiem"><span class="adp">ADP</span> -
                przyimek</mat-list-item>
            <mat-list-item><span class="cconj">CCONJ</span> - spójnik</mat-list-item>
            <mat-list-item><span class="part">PART</span> - partykuła</mat-list-item>
        </mat-list>
    </mat-drawer>
    <div class="content">
        <span *ngFor="let token of tokens" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            (mouseenter)="onMouseEnter($event, token)" (mouseleave)="onMouseLeave()"
            (click)="openOverlay($event, token)" [ngClass]="{
                'space-before': token.space_before,
                'noun' : token.pos=='NOUN',
                'propn' : token.pos=='PROPN',
                'verb' : token.pos=='VERB',
                'adj' : token.pos=='ADJ',
                'adv' : token.pos=='ADV',
                'pron' : token.pos=='PRON',
                'adp' : token.pos=='ADP',
                'cconj' : token.pos=='CCONJ',
                'part' : token.pos=='PART'}">{{token.text}} </span>
    </div>
</mat-drawer-container>



<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="currentElement" [cdkConnectedOverlayOpen]="isOverlayOpen">
    <mat-card class="overlay-container">
        <mat-card-title>{{this.currentToken.text}}</mat-card-title>
        <mat-card-content>
            <ul style="padding-left: 0.5em;">
                <li>lema: {{this.currentToken.lema}}</li>
                <li>pos: {{this.currentToken.pos}}</li>
                <li>tag: {{this.currentToken.tag}}</li>
                <li>dep: {{this.currentToken.dep}}</li>
                <li>morph:
                    <ul style="padding-left: 0.5em;">
                        <li *ngFor="let attr of this.currentToken.morph| keyvalue">{{attr.key}}: {{attr.value}}</li>
                    </ul>
                </li>
            </ul>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button (click)="closeOverlay()">Zamknij</button>
        </mat-card-actions>
        <!-- <mat-card-footer>
            <pre>{{ this.currentToken | json}}</pre>
        </mat-card-footer> -->
    </mat-card>
</ng-template>