<span *ngFor="let token of tokens" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
    (mouseenter)="onMouseEnter($event, token)" (mouseleave)="closeOverlay()" [ngClass]="{
    'space-before': token.pos!='PUNCT',
    'noun' : token.pos=='NOUN',
    'propn' : token.pos=='PROPN',
    'verb' : token.pos=='VERB',
    'adj' : token.pos=='ADJ',
    'adv' : token.pos=='ADV',
    'pron' : token.pos=='PRON',
    'adp' : token.pos=='ADP',
    'cconj' : token.pos=='CCONJ',
    'part' : token.pos=='PART',
}">{{token.text}}</span>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="currentElement" [cdkConnectedOverlayOpen]="isOverlayOpen">
    <mat-card class="overlay-container">
        <mat-card-content>
            <pre>{{ this.currentToken | json}}</pre>
        </mat-card-content>
        <!-- <mat-card-actions align="end">
            <button mat-button (click)="closeOverlay()">Zamknij</button>
        </mat-card-actions> -->
    </mat-card>
</ng-template>